<div style="width: 100vw; height: 100%; padding: 10px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-5 col-xl-4" style="margin-top: 5px;">
        <mat-card style="height: 100%; padding: 10px;">
          <div class="container">
            <h3>Active Games:</h3>
            <ng-scrollbar style="max-height: 350px;"
                          autoHeightDisabled="false"
                          visibility="hover"
                          pointerEventsMethod="scrollbar">
              <div class="col" style="overflow: hidden">
                <div class="row" *ngFor="let i of [1, 2]" style="margin-top: 5px; margin-right: 5px">
                  <div class="container dashboard-active-game-wrapper">
                    <div class="row">
                      <div class="col">
                        <div class="row" style="margin-top: 5px; padding: 0 5px 0 5px">
                          <p *ngIf="windowWidth < 540">Test Game {{i}}</p>
                          <p *ngIf="windowWidth >= 540">Test Game {{i}} - Commander</p>
                        </div>
                        <div class="row" style="margin-top: 5px; padding: 0 5px 0 5px">
                          <p>Players: 0 of 5</p>
                        </div>
                      </div>
                      <div class="col-6 col-xl-4">
                        <div class="row" style="justify-content: right; padding: 5px">
                          <button mat-raised-button color="accent" style="width: 100px">JOIN</button>
                        </div>
                        <div class="row" style="margin-top: 5px; text-align: right">
                          <p>Time: 00:00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-scrollbar>
          </div>
        </mat-card>
      </div>
      <div class="col" style="margin-top: 5px;">
        <mat-card style="padding: 10px; height: 100%">
          <div class="container">
            <h3>Last Played:</h3>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div *ngIf="last_played != null">
                    <h5>{{last_played.name}}</h5>
                    <div *ngIf="last_played.commanders != null && last_played.commanders.length > 0">
                      <h5 *ngFor="let commander of last_played.commanders">{{commander.name}}</h5>
                    </div>
                    <h5>Result: {{last_played.won_last? 'Win': 'Loss'}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div id="winLossChart">
                    <apx-chart
                      [series]="winLossChartOptions.series"
                      [chart]="winLossChartOptions.chart"
                      [dataLabels]="winLossChartOptions.dataLabels"
                      [plotOptions]="winLossChartOptions.plotOptions"
                      [yaxis]="winLossChartOptions.yaxis"
                      [xaxis]="winLossChartOptions.xaxis"
                      [fill]="winLossChartOptions.fill"
                      [title]="winLossChartOptions.title"
                      [tooltip]="winLossChartOptions.tooltip"
                    ></apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col" style="margin-top: 5px;">
        <mat-card style="padding: 10px; height: 100%">
          <div class="container">
            <div class="row">
              <div class="col">
                <h3>Deck Color Distribution</h3>
                <div id="colorDistChart">
                  <apx-chart
                    [series]="colorDistChartOptions.series"
                    [chart]="colorDistChartOptions.chart"
                    [xaxis]="colorDistChartOptions.xaxis"
                    [yaxis]="colorDistChartOptions.yaxis"
                    [stroke]="colorDistChartOptions.stroke"
                    [markers]="colorDistChartOptions.markers"
                    [fill]="colorDistChartOptions.fill"
                  ></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="row" style="margin: 10px">
      <div class="col-1"></div>
      <div class="col-12 col-lg-10">
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 10px"><h3>Recent Decks:</h3></div>
        <div class="row" style="height: 100%">
          <ng-scrollbar
            track="horizontal"
            autoWidthDisabled="false"
            visibility="hover"
            pointerEventsMethod="scrollbar" style="height:200px">
            <div class="row flex-nowrap">
              <div *ngFor="let deck of recent_decks; let i = index" class="col">
                <div class="deck-crop">
                  <div class="dashboard-deck-info">
                    <h4>{{deck.name}}</h4>
                    <h4>{{getUserFromId(deck.owner).name}}</h4>
                  </div>
                  <div class="dashboard-deck-button"><button mat-raised-button color="accent">View</button></div>
                  <img class="deck-crop-image" src="{{deck.image}}" style="opacity: 0.4; background-color: black">
                </div>
              </div>
            </div>
          </ng-scrollbar>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
